@{
    ViewData["Title"] = "Index";
}

<h1>About Me</h1>
<p>My name is Jeffrey Wallace and I am a junior at the University of Cincinnati studying Software Development and Game Design.</p>
<p>I enjoy playing video games (hence the website being based on video games), photography, and listening to music (I listened to 90k minutes worth of music in the past year...).</p>
<p>Currently, my favorite games to play are League of Legends, Pokemon Brillant Diamond (Dialga > Palkia btw), and ACNH (Animal Crossing New Horizons).</p>



