@{
    ViewData["Title"] = "Index";
}

<h1>Top 10 Games of 2020</h1>
<h2>Below is a list of the top 10 games, ranked by Polygon Staff (https://www.polygon.com/2020/12/14/22166004/best-games-2020-ps4-xbox-one-switch-pc-series-x) </h2>
<p>1. Hades</p>
<p>2. Animal Crossing New Horizons</p>
<p>3. Microsoft Flight Simulator </p>
<p>4. Final Fantasy 7 Remake </p>
<p>5. Kentucky Route Zero </p>
<p>6. Spider Man: Miles Morales </p>
<p>7. Half Life: Alyx </p>
<p>8. Crusader Kings 3 </p>
<p>9. Blaseball </p>
<p>10. Among Us </p>




